<form action="/puppy" method="post">
  <label for="name"> Puppy Name </label>
  <input type="text" name="name" id="name">
  <label for="breed"> Puppy Breed </label>
  <input type="text" name="breed" id="breed">
  <label for="age"> Puppy Age </label>
  <input type="text" name="age" id="age">
  <input type="submit" value="submit">
</form>
